
   /**h2 {text-align: center;}
   h1 {text-align: center;}
   p {text-align: center;}
   .column 
   {
    float: left;
    width: 50%;
   }

   .row:after 
   {
    content: "";
    display: table;
    clear: both;
   }
*, *:before, *:after {
   box-sizing: border-box;
}
   **/

.leftText{
   text-align: left;
}

.center{
   text-align: center;
}

.container {
   text-align: center;
   display: grid;
   background-color: rgb(118, 175, 156);
   border: 5px solid rgb(49, 82, 71);
   height: 100vh;
   
   grid-template-rows: 1fr 7fr;

   width: 100vw;
}

/**also used for sign up**/
.homepage{
   grid-template-areas: 
      'header header'
      'info info'
      'left right';
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto;
}

.headerAndText{
   grid-template-areas: 
      'header'
      'left';
}

.areas{
   padding: 5px;
   position: relative;
   overflow: auto;
}

.left{
   grid-area: left;
}
.right{
   grid-area: right;
}
.info{
   grid-area: info;
}
.header{
   grid-area: header;
}

.noLeft{
   border-left: none;
}

.hide{
   display: none;
}