
   .column 
   {
    float: left;
    width: 50%;
   }

   .row:after 
   {
    content: "";
    display: table;
    clear: both;
   }

   
   h2{
      align-self: center;
   }

   p{
      align-self: center;
   }